<div class="container">
  <!-- Search bar -->
  <div class="search-container">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (input)="onSearchQueryChange()"
      placeholder="Search for drink products..."
      class="search-input"
    />
  </div>

  <!-- Loading state -->
  <div *ngIf="isLoading" class="loader">
    <p>Loading...</p>
  </div>

  <!-- Error message -->
  <div *ngIf="errorMessage" class="error-message">
    <p>{{ errorMessage }}</p>
  </div>
  

   <!-- CATEGORY NAVIGATION -->
   <div *ngIf="CategoryNameList().length" class="category-navigation">
    <ul>
      <li 
        *ngFor="let category of CategoryNameList()" 
        [class.active]="selectedCategory === category" 
        (click)="onCategoryClick(category)">
        {{ category }}
      </li>
    </ul>
  </div>
  

<!-- Product cards for the selected category -->
<div *ngIf="selectedCategory" class="category-content">
  <div *ngIf="getProductsByCategory(selectedCategory).length > 0" class="product-grid">
    <div
      *ngFor="let product of getProductsByCategory(selectedCategory)"
      class="product-card"
      (click)="selectAndEmitProducts(product)"
    >
      <div class="product-image-container">
        <img
          *ngIf="product.image"
          [src]="'data:image/jpeg;base64,' + product.image"
          alt="{{ product.productName }}"
        />
        <img
          *ngIf="product.imageUrl && !product.image"
          [src]="product.imageUrl"
          alt="{{ product.productName }}"
        />
      </div>
      <div class="product-details">
        <h3 class="product-name">{{ product.productName }}</h3>
        <p class="price">₱{{ product.price }}</p>
        <p class="status" *ngIf="product.status">
          {{ product.status }}
        </p>
      </div>
    </div>
  </div>
  <p *ngIf="getProductsByCategory(selectedCategory).length === 0">No products available in this category.</p>
</div>


  <!-- Message when no products are available -->
  <div *ngIf="filteredProducts.length === 0" class="no-products">
    <p>No products available.</p>
  </div>
</div>