<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main-page.component.css">
    <title>Main Page</title>
</head>
<body>
   <!-- main-page.component.html -->
   <div class="container">
    <p class="welcome-text">WELCOME TO</p>
    <div class="logo">
      <img src="assets\EsherLogo.png" alt="Esher Cafe Logo">

    </div>
    <p class="login-text">LOGIN AS</p>
    <div class="button-container">
      <button class="login-button" (click)="navigateToLogin('admin')">ADMIN</button>
      <button class="login-button" (click)="navigateToLogin('staff')">STAFF</button>
    </div>
  </div>  
  
</body>
</html>
