<!-- Main content area -->
<div class="main-content">
  <!-- Floating success message -->
  <div *ngIf="successMessage" class="floating-message">
    {{ successMessage }}
  </div>

  <div class="sidebar">
    <div class="logo">
      <img src="eshercafelogo.png" alt="Esher Cafe Logo">
    </div>
    <ul>
      <li routerLink="sales" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">SALES</li>
      <li routerLink="orders" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">ORDERS</li>
      <li routerLink="products" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">PRODUCT</li>
      <li routerLink="category" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">CATEGORY</li>
      <li routerLink="reports" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">REPORT</li>
      <li routerLink="about" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">ABOUT US</li>
    </ul>
    <!-- Logout Icon -->
    <div class="action-button logout-button" (click)="openLogoutConfirmation()">
      <span class="material-icons">logout</span>
    </div>
  </div>

  <!-- Main Container for Displaying Content Based on Route -->
  <div class="container">
    <!-- The routed components will be displayed here -->
    <router-outlet></router-outlet>
  </div>

  <!-- Logout Confirmation Modal -->
  <div *ngIf="showLogoutModal" class="modal-overlay">
    <div class="modal-content">
      <h3>Confirm Logout</h3>
      <p>Are you sure you want to log out?</p>
      <div class="modal-actions">
        <button class="action-button confirm-button" (click)="confirmLogout()">Yes</button>
        <button class="action-button cancel-button" (click)="closeLogout()">Cancel</button>
      </div>
    </div>
  </div>
</div>
