.order-history {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.success-message {
  padding: 10px;
  background-color: #052106;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
  text-align: left;
  padding: 12px 16px;
  border: 1px solid #ddd;
  word-wrap: break-word;
  height: 50px;
  vertical-align: middle;
}

th {
  background-color: #f4f4f4;
  font-weight: bold;
}

tr:hover {
  background-color: #f9f9f9;
  cursor: pointer;
}

.item {
  display: inline-block;
  margin-right: 8px;
  padding: 5px 10px;
  background-color: #f7f7f7;
  border-radius: 15px;
  font-size: 14px;
  color: #333;
  border: 1px solid #ddd;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button[disabled] {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

.delete-btn {
  background-color: #e76f51;
  color: white;

}

.delete-btn:hover {
  background-color: #c82333; /* Darker red on hover */
}

@media (max-width: 768px) {
  .order-history {
    padding: 15px;
  }
  table {
    font-size: 14px;
  }
  th, td {
    padding: 10px;
  }
  .item {
    font-size: 12px;
    padding: 5px 10px;
  }
  button {
    font-size: 14px;
    padding: 6px 12px;
  }
}

.confirmation-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  min-width: 250px;
  max-width: 400px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 20px;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
}
